@import 'theme';

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $ggg-app-primary
}

.content-container {
    padding:2rem
}

.side-container {
    background: $ggg-app-accent;
}

.nav-list-item {
    color:white;
}